html{
    background-color: rgb(195, 195, 157);
    align-content: center;
    margin: auto;
    text-align: center;
}

img{
    width: 50%;
    height: 50%;
    align-self: center;
    margin: auto;
    padding: auto;
}
figcaption{
    font-style: italic;
    margin: 10px;
    padding: auto;
}
footer{
    justify-self: unset;
    margin: auto;
    max-width: 75%;
}
ul{
    text-align: left;
    margin: 15px;
}
.bold{
    font-weight: bold;
}
.sub{
    margin: 5px 5px;
    padding: auto;
}
